# Virtual environment
.venv/
venv/

# Generic files and folders
logs/

# Py cache
__pycache__/
*.pyc
*.pyo
*.pyd


# poetry

#mkdocs sites
.site/

# Test cache folder  and files
.pytest_cache/
.idea

# PyCharm
.idea/

# VSCode
.vscode/